.about {
  &__block {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;

    &-top {
      display: flex;
      justify-content: space-between;

      &-image {
        // width: 570px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 10px;
        }
      }

      &-text {
        padding-left: 350px;
        p {
          font-family: "News Cycle";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 39px;

          /* dark blue */

          color: #13293d;
        }
      }
    }
  }
}
